<div class="container">
  <app-summary-card
    class="w-1/4 h-36 justify-center flex items-center gap-6"
    titulo="Receita Total"
    [valor]="resumo.receitaTotal.valor"
    [porcentagem]="resumo.receitaTotal.porcentagem"
    icone="attach_money"
    atributo="receitaTotal"
  ></app-summary-card>
  <p-divider layout="vertical" class="bg-gray-200 bg-opacity-50 w-0.5 h-4/6"></p-divider>
  <app-summary-card
    class="w-1/4 h-36 justify-center flex items-center gap-6"
    titulo="Gastos Totais"
    [valor]="resumo.gastosTotais.valor"
    [porcentagem]="resumo.gastosTotais.porcentagem"
    icone="payments"
    atributo="gastosTotais"
  ></app-summary-card>
  <p-divider layout="vertical" class="bg-gray-200 bg-opacity-50 w-0.5 h-4/6"></p-divider>
  <app-summary-card
    class="w-1/4 h-36 justify-center flex items-center gap-6"
    titulo="Lucro Liquido"
    [valor]="resumo.lucroLiquido.valor"
    [porcentagem]="resumo.lucroLiquido.porcentagem"
    icone="monitoring"
    atributo="lucroLiquido"
  ></app-summary-card>
  <p-divider layout="vertical" class="bg-gray-200 bg-opacity-50 w-0.5 h-4/6"></p-divider>
  <app-summary-card
    class="w-1/4 h-36 justify-center flex items-center gap-6"
    titulo="Pedidos Realizados"
    [valor]="resumo.pedidosRealizados.valor"
    [porcentagem]="resumo.pedidosRealizados.porcentagem"
    icone="package_2"
    atributo="pedidosRealizados"
  ></app-summary-card>
</div>
<!-- MAIN CONTENT -->
<div class="h-full w-full mt-8">
  <div class="h-full w-full flex">
    <app-table 
      [datasource]="recentOrders"
      [columns]="columns"
      class="w-3/4">
    </app-table>
  </div>
</div>